header{
	margin-top: 20px;
}

.recherche{
	margin-top: 41px;
}
.panier{
	margin-top:47px;
}

li{
	list-style: none;

}
.nav{
	margin: 0;
}
.nav a {
	color: black;
	padding: 5px;
	border-right: 1px solid black	
}
.nav a .left{
	border-left: 1px solid black;
}

.nav a:hover{
	color: #0ba200
}

.navtop{
	padding: 10px;
	/*background-color: red;*/
}



/*home*/

h3{
	border-bottom: 2px solid black;
}
