header{
	margin-top: 20px;
}

.recherche{
	margin-top: 41px;
}
.panier{
	margin-top:47px;
}

li{
	list-style: none;

}
.nav{
	margin: 0;
}
.nav a{
	color: black;
	margin: 10px		
}

.nav a:hover{
	color: #0ba200
}

.navtop{
	padding: 10px;
	/*background-color: red;*/
}
